[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
gpxpy = "*"
lxml = "*"
fastdtw = "*"
fiona = "*"
dash = "*"
flask = "*"
dash-bootstrap-components = "*"
kaleido = "*"
appdirs = "*"
fitdecode = "*"
python-dateutil = "*"
werkzeug = "*"
sphinx = "*"
