<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% for style in stylesheets %}
        <link rel="stylesheet" href="{{ style }}" />
    {% endfor %}
    <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
    {% for msg in messages %}
        <div class="message_{{ msg.severity }}">{{ msg.text }}</div>
    {% endfor %}
    <div id="content">{% block content %}{% endblock %}</div>
    {% include "footer.html.jinja" %}
</body>
</html>