{% extends "base.html.jinja" %}

{% block content %}
<div class="formwrapper">
  <h1 class="title">Configure</h1>
  <form method="POST" action="{{ url_for('config') }}">
      {{ form.csrf_token }}
      <h2 class="heading">Basics</h2>
      <div class="form-field">{{ form.user_name.label }} {{ form.user_name }}</div>
      <div class="form-field">{{ form.data_dir.label }} {{ form.data_dir(size=20) }}</div>

      <h2 class="heading">Preferences</h2>
      <div class="form-field">{{ form.default_activity_name_format.label }} {{ form.default_activity_name_format }}</div>
      <div class="form-field">{{ form.week_start.label }} {{ form.week_start }}</div>
      <div class="form-field">{{ form.distance_unit.label }} {{ form.distance_unit }}</div>

      <h2 class="heading">Route matching</h2>
      <div class="form-field">{{ form.match_center_threshold.label }} {{ form.match_center_threshold }}</div>
      <div class="form-field">{{ form.match_length_threshold.label }} {{ form.match_length_threshold }}</div>
      <div class="form-field">{{ form.tight_match_threshold.label }} {{ form.tight_match_threshold }}</div>
      {{ form.submit }}
  </form>
</div>
{% endblock %}